<footer class="footer is-fixed-bottom is-fullwidth"><div class=container><div class=columns><div class="column is-8 is-offset-2">Frelih.org 2024. Contact: <a href="https://twitter.com/PolonaFrelih">𝕏 Polona Frelih</a><p class=small>Tagged with <a href="https://textvisualization.app">semascope 👁️ text visualization app</a>.</p></div></div><div class="content has-text-centered"><div class="control level-item"><a href=https://github.com/roverbird/corpus_utils/><div class="tags has-addons"><span class="tag is-dark">corpus_utils</span>
<span class="tag is-info">GNU v3.0</span></div></a></div></div></div></footer>
</body>
<script type=text/javascript>
  (function() {
    var burger = document.querySelector('.burger');
    var menu = document.querySelector('#' + burger.dataset.target);
    burger.addEventListener('click', function() {
      burger.classList.toggle('is-active');
      menu.classList.toggle('is-active');
    });
  })();
</script>
</html>
